<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="com.cy.ssm.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>
	
	<bean id="ruleService" class="com.cy.ssm.service.impl.RuleServiceImpl">
		<property name="ruleMapper" ref="ruleMapper"/>
	</bean>
	
	<bean id="audioService" class="com.cy.ssm.service.impl.AudioServiceImpl">
		<property name="audioMapper" ref="audioMapper"/>
	</bean>
	
	<bean id="backPicService" class="com.cy.ssm.service.impl.BackPicServiceImpl">
		<property name="backPicMapper" ref="backPicMapper"/>
	</bean>
	
</beans>
