<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.cy.ssm.beans.User" alias="User"/>
		<typeAlias type="com.cy.ssm.beans.Audio" alias="Audio"/>
		<typeAlias type="com.cy.ssm.beans.Rule" alias="Rule"/>
		<typeAlias type="com.cy.ssm.beans.BackPic" alias="BackPic"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="map/User.xml"/>
		<mapper resource="map/Audio.xml"/>
		<mapper resource="map/Rule.xml"/>
		<mapper resource="map/BackPic.xml"/>
	</mappers>
	
</configuration>
